body{
    background-image: url(WireFrame1.png);
}
.body{
    width: 920px;
    height: 902px;
    position: absolute;
    left: 26%;
} 
.right{
    width: 500px;
    height: 902px;
    position: absolute;
    left: 73.95%;
}
.left{
    width: 500px;
    height: 902px;
    position: absolute;
    left: 0.05%;
}

h1{
    position: absolute;
    margin-left: 280.5px;
    padding-top: 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cite{
    width: 100px;
    height: 34px;
    background-color: Transparent;
    border: none;
    margin-top: 13px;
    margin-left: 249.5px;
}
.home{
    width: 100px;
    height: 34px;
    background-color: Transparent;
    border: none;
    margin-top: 13px;
    margin-left: 20px;
}
.article{
    height: 700px;
    width: 600px;
    margin-left: 160px;
    padding-top: 170px;
}
p{
    text-align: justify;
    font-size: 19px;
    font-family: sans-serif;
}
h2{
    position: absolute;
    margin-left: 366.44px;
    padding-top: 110px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.image1{

}
.image2{

}