body{
    background-image: url(WireFrame2.png);
}
.body{
    width: 920px;
    height: 902px;
    position: absolute;
    left: 26%;
} 
.right{
    width: 500px;
    height: 902px;
    position: absolute;
    left: 73.95%;
}
.left{
    width: 500px;
    height: 902px;
    position: absolute;
    left: 0.05%;
}
.cite{
    width: 100px;
    height: 34px;
    background-color: Transparent;
    border: none;
    margin-top: 13px;
    margin-left: 249.5px;
}
.home{
    width: 100px;
    height: 34px;
    background-color: Transparent;
    border: none;
    margin-top: 13px;
    margin-left: 20px;
}
h1{
    position: absolute;
    margin-left: 394.1px;
    padding-top: 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Citations{
    height: 700px;
    width: 600px;
    margin-left: 160px;
    padding-top: 170px;
}
.p1{
    font-size: 18px;
    font-family: sans-serif;
}
.l1{
    font-size: 16px;
}
.p2{
    font-size: 18px;
    font-family: sans-serif;
}
.l2{
    font-size: 16px;
}